
*{


  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f24f00;
  text-align: center;
  
 
}

.card{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 300px;
  text-align: center;
  align-items: center;
}

input[type="text"],
select,
button {
  margin-bottom: 10px;
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  align-items: center;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button,
a {
  text-decoration: none;
}

a {
  display: block;
}


/* Responsivo */
@media (max-width: 768px) {
  .card {
    width: 90%;
    
    
  }
}
